@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define your color variables for light mode */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Switch to dark mode using media query */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Apply your color variables to your styles */
body {
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(240, 240, 240), /* Light grey color */
    rgb(200, 200, 200) /* Slightly darker grey color */
  );
  color: rgb(var(--foreground-rgb));
}

/* Make icons white */
svg {
  fill: white;
}

/* Match navbar background to main background */
.nav-bar {
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(240, 240, 240), /* Light grey color */
    rgb(200, 200, 200) /* Slightly darker grey color */
  );
}
