@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define your color variables for light mode */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 220, 220, 220; 
  --background-end-rgb: 240, 240, 240;
}

/* Switch to dark mode using media query */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Apply your color variables to your styles */
html, body {
  min-height: 100vh; /* Ensure body covers at least the viewport height */
}

body {
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(17, 52, 0),
    rgb(22, 66, 0),
    rgb(17, 52, 0)
  );
  color: rgb(var(--foreground-rgb));
}

/* Make icons white */
svg {
  fill: white;
}
