@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define your color variables for light mode */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 220, 220, 220; /* Slightly darker light grey color */
  --background-end-rgb: 240, 240, 240;
}

/* Switch to dark mode using media query */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Apply your color variables to your styles */
body {
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(210, 210, 210), 
    rgb(200, 200, 200) 
  );
  color: rgb(var(--foreground-rgb));
}

/* Make icons white */
svg {
  fill: white;
}
